<div class="app">
  <h1>{{title}}</h1>
  <div class="content">
    <div class="left-area">
      <h2 i18n="title description">This is a title</h2>
      <p i18n>This is some content that is below the title, it's supposed to show a subtext that is underneath the section header</p>
      <a href="/dynamic">dynamic</a>
    </div>
    <div class="right-area">
      <h2 i18n>Text content</h2>
      <div class="text-content">
        <div i18n>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus aliquam risus ac risus lobortis varius. Curabitur dapibus ac massa at auctor. Maecenas consequat tempor laoreet. In quis est sem. Curabitur metus augue, ultrices fringilla ex vel, hendrerit sollicitudin ligula. Vestibulum ut magna turpis. Integer vitae odio sed orci suscipit volutpat nec a mi. Phasellus sit amet sem luctus, varius orci nec, finibus neque. Proin eu tempor nisi. Cras eget accumsan ante. Nam imperdiet nibh in nibh eleifend commodo ac et erat. Proin id metus eget lorem ultrices consectetur. Sed viverra efficitur urna, vitae imperdiet neque commodo at. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Suspendisse convallis dignissim nunc eu ultricies.
      </div>
    </div>
  </div>
</div>
